@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  font-family: Poppins, Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

/* ---tailwind directives --- */
@layer components {
  .button-clicked {
    @apply transition-transform active:scale-[0.9]
  }

  .body-text-header {
    @apply font-bold text-[11px]
  }

  .body-text {
    @apply text-[11px]
  }

  .nav-link {
    @apply text-[#6550b9] [lineHeight:1] px-3 py-2 rounded-[4px] hover:bg-violet-50
  }

  .column {
    @apply flex flex-col gap-y-4 rotate-[16deg] shrink-0
  }
}

/* --- general styles --- */
/* flyout menu */
.flyout:hover .flyout-content {
  display: block;
}

.hero {
  background-image: url('./assets/hero-bg-mobile.png');
  background-size: cover;
}

/* nav-bar */
#header {
  transition: background-color 400ms ease;
}

.navbar-scrolled {
  background-color: #fff;
  color: #000;
}

/* pc breakpoint: applies at 700px -> infinity */
@media screen and (min-width: 768px) {

  /* for mobile visibility */
  .mobile {
    display: none;
  }

  .pc {
    display: block !important;
  }

  /* footer */
  .footer-container {
    flex-direction: row !important;
  }

  .footer-container .text {
    flex-basis: 200px;
  }

  /* floating-menu */
  .floating-menu {
    display: flex !important;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    color: red;
  }
}

/* main -> section */
main>section {
  padding: 10px;
}

/* footer -> pc-links */
.links-pc li {
  padding: 3px 7px;
}

.links-pc li:hover {
  background-color: #d0d0d0;
  border-radius: 3px;
}